*{
    font-family: Abel Regular;
    /* margin: 0;
    padding: 0;
    border: 0; */
  }

body{
    background-image: url('ssbg.png');
    width: auto;
    height: auto;
    position: fixed;
    color: black;
    text-align: center;
    padding: 1em;
    overflow-y: hidden;
}
/* Cabeçalho*/
header {
  margin: -2%;
  background-size: 80%;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
        display: none;
        -webkit-appearance: none;
        margin: 0;
}

/* Imagem do cabeçalho*/
.paperHeader {
  width: 100%;
  overflow: hidden;
}


/* Container informações! */
.infosContainer {
  background-color: white;
  border: solid #282c3e;
  border-radius: 15px;
  border-top-width: 25px;
  border-bottom-width: 25px;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
  width: 40%;
  float: left;
  margin-left: 4%;
  margin-top: 2%;
  text-align: left;
  padding: 20px;   
}

/* Container dos dados do Cartão */
.cardContainer {
    background-color: #e9e5e0;
    border: solid #282c3e;
    border-radius: 15px;
    border-top-width: 25px;
    border-bottom-width: 25px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    width: 40%;
    float: right;
    margin-right: 4%;
    margin-top: 2%;
    text-align: center;
    padding: 20px;   
    list-style: none;
}


/* Labels dos dados do Cartão */
.fontFields {
    color: #282c3e;
    font-style: oblique;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 5%;
    text-align: center;
    float: left;
}

/* Compos para os dados do Cartão */
.cardFields {
  background-color: white;
  border-radius: 5px;
  font-style: oblique;
  font-size: 18px;
  margin-top: 5px;
  width: 40%;
  text-align: center;
  float: right;
}

#developerCredits {
  width: 100%;
  height: 5%;
  background-color:#ffffff;
  color:#282c3e;
  letter-spacing: 1px;
  font-size: 15px;
  font-weight: bold;
}

/*Botão "Enviar"*/
#validButton {
    background: #3c3f4e;
    border: 0;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    color: #ffffff;
    font-size: 1.2em;
    font-style: oblique;
    left: 50%;
    padding: 0.2em 0.6em;
    position: absolute;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    transform: translate(-50%, -50%);
    margin-left: 30%;
    margin-top: -1%;
}
/*Hover (mouse passando por cima do botão*/
#validButton:hover {
    background: #ffffff;
    color: #282c3e;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.5);
    text-shadow: none;
}
/*Mudar cursor ao passar em cima do botão*/
#validButton, select{
    cursor: pointer;
}

#outCome {
  border-radius: 5px;
  margin-top: 1%;
  width: 50%;
  height: auto;
  background-color: #282c3e;
  color: whitesmoke;
}

